@model Budgeter.Models.BudgetViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="edit-header light content-col auto-height">
                <span>@Model.Budget.Name</span>
                <button id="btn-edit-budget"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="light content-col auto-height">
                            <h4>Income</h4>
                            @Html.Partial("_BudgetItemList", Model.IncomeBudgetItems)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="light content-col auto-height">
                            <h4>Expenses</h4>
                            @Html.Partial("_BudgetItemList", Model.ExpenseBudgetItems)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="light content-col">
                    <div class="radio-container">
                        <input type="radio" name="item-type" class="radio-income" /> Income
                        <input type="radio" name="item-type" class="radio-expense" checked /> Expense
                    </div>
                    <div id="add-budget-income">
                        <h4>Add Budget Item - Income</h4>
                        <hr />
                        @using (Html.BeginForm("AddBudgetItem", "Budgets", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("BudgetId", Model.Budget.Id)
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Item Name")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("Name")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Amount")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("Amount")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Frequency")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("Frequency", "", null, new { @type = "number", @min = "1", @max = "52" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Category")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("CategoryId", ViewBag.IncomeCategories as SelectList)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="add-budget-expense">
                        <h4>Add Budget Item - Expense</h4>
                        <hr />
                        @using (Html.BeginForm("AddBudgetItem", "Budgets", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("BudgetId", Model.Budget.Id)
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Item Name")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("Name")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Amount")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("Amount")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Frequency")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("Frequency", "", null, new { @type = "number", @min = "1", @max = "52" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Category")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("CategoryId", ViewBag.ExpenseCategories as SelectList)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Household", "Edit", "Households", new { id = Model.Budget.HouseholdId }, null)
    </div>

<div class="content-col light auto-height" id="category-edit-modal">
    <h3>Categories</h3>
    <hr />
    <div id="this-category"></div>
    <table class="data-table">
        <thead>
            <tr><th>Category Name</th><th>Type</th><th>Action</th></tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Budget.Household.Categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        @if (category.IsDeposit)
                        {
                            <span>Deposit</span>
                        }
                        else
                        {
                            <span>Withdrawal</span>
                        }
                    </td>
                    <td>
                        <input type="hidden" value="@category.Id" />
                        <button class="btn-category-edit"><i class="fa fa-pencil"></i></button>
                        <button class="btn-category-delete"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

<div class="form-horizontal light content-col auto-height" id="edit-budget-modal">
    <h3>Budget Name</h3>
    <hr />
    <div style="margin-top: 1em">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="Id" value="@Model.Budget.Id" />
        <input type="hidden" name="HouseholdId" value="@Model.Budget.HouseholdId" />
        <div class="form-group">
            @Html.LabelFor(model => model.Budget.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Name", Model.Budget.Name, new { htmlAttributes = new { @class = "form-control", @Value = Model.Budget.Name } })
                @Html.ValidationMessageFor(model => model.Budget.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    </div>
</div>





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/js/Budget.js")
    }
