@model ICollection<Budgeter.Models.Transaction>

<section id="account-transactions">
        <h4>Transactions:</h4>
        <div>
            @*@Html.ActionLink("Create a New Account","Create","Accounts",new { householdId = Model.Id }, null)*@
            <button id="btn-withdrawal" class="btn-transaction">Withdrawal</button>
            <button id="btn-deposit" class="btn-transaction">Deposit</button>
        </div>
        <table class="user-list">
            <tr><th>Date</th><th>Description</th><th>Amount</th><th>Action</th></tr>
            @foreach (var transaction in Model)
            {
                var rowClass = "";
                if (transaction.Void)
                {
                    rowClass = "void-transaction";
                }
                <tr class="@rowClass">
                    <td>@transaction.Date.ToString("MM/dd/yyyy")</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.Amount.ToString("$0.00")</td>
                    <td class="table-action">
                        @if (transaction.Void)
                        {
                            <span class="unvoid-action">@Html.ActionLink("Restore", "VoidTransaction", "Transactions", new { id = transaction.Id }, null)</span>
                        }
                        else
                        {
                            <span class="void-action">@Html.ActionLink("VOID", "VoidTransaction", "Transactions", new { id = transaction.Id }, null)</span>
                        }
                        
                        <span class="remove-user">@Html.ActionLink("X", "DeleteTransaction", "Transactions", new { id = transaction.Id }, null)</span>
                    </td>
                </tr>
            }
        </table>
</section>


