@model IEnumerable<Budgeter.Models.BudgetItem>
    <table class="user-data data-table-bare">
    <thead>
        <tr><th>Name</th><th>Category</th><th>Amount</th><th>Frequency</th><th>Action</th></tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Category.Name
            </td>
            <td>
                @Math.Abs(item.Amount).ToString("$0.00")
            </td>
            <td>
                @item.Frequency
            </td>
            <td id="@item.Id">
                <button class="btn-edit-budget-item"><i class="fa fa-pencil"></i></button>
                <button class="btn-delete-budget-item"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    }
    </table>



