@model Budgeter.Models.Household

<section id="household-accounts">
        <h4>Accounts:</h4>
        <div>@Html.ActionLink("Create a New Account","Create","Accounts",new { householdId = Model.Id }, null)</div>
        <table class="user-list">
            <tr><th>Account Name</th><th>Account Owner</th><th>Balance</th><th>Action</th></tr>
            @foreach (var account in Model.Accounts)
            { 
                <tr>
                    <td>@Html.ActionLink(@account.Name,"Edit","Accounts", new { id = account.Id }, null)</td>
                    <td>@account.Owner.FirstName @account.Owner.LastName</td>
                    <td>@account.Balance</td>
                    <td>Some links go here!</td>
                </tr>
            }
        </table>
</section>


