@model Budgeter.Models.Household

<section id="household-users">

    @*@if (Model.AssignedUser == null)
    {*@
        <h4>Members of the Household</h4>
        <hr />
        <table class="user-list">
            <tr><th>Role</th><th>Name</th>@*<th>Display Name</th>*@@*<th>Email</th>*@<th>Action</th></tr>
            @foreach (var user in Model.Users)
            { 
                <tr>
                    <td>
                        @if(user.Id == Model.OwnerId)
                        {
                            <span class="household-owner">Owner</span>
                        }
                        else
                        {
                            <span class="household-user">User</span>
                        }
                    </td>
                    <td>@user.FirstName @user.LastName</td>
                    @*<td>@user.DisplayName</td>*@
                    @*<td>@user.Email</td>*@
                    <td>
                        @* 
                            Owners can remove other users
                            Owners can't remove themselves unless all other users have been removed first
                            Other users can only remove themselves    
                        *@
                        @if ((Model.Users.Count() == 1 && ViewBag.CurrentUserId == Model.OwnerId) || 
                             (Model.OwnerId != ViewBag.CurrentUserId && user.Id == ViewBag.CurrentUserId) ||
                             (Model.OwnerId == ViewBag.CurrentUserId && user.Id != ViewBag.CurrentUserId))
                        {
                            <span class="remove-user">@Html.ActionLink("X", "RemoveUser", new { userEmail = user.Email, householdId = Model.Id })</span>
                        }
                    </td>
                </tr>
            }
        </table>
    @*}
    else
    {
        @Html.LabelFor(model => model.AssignedUserId, "Assigned User", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Label(Model.AssignedUser.Displayname, htmlAttributes: new { @class = "control-label" })
            <span class="remove-manager">@Html.ActionLink(" X", "RemoveAssignedUserFromTicket", new { ticketId = Model.Id })</span>
        </div>
    }*@

</section>


