@model Budgeter.Models.Household


    <div>
        <h4>Household</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Household Owner
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Owner.FirstName) @Html.DisplayFor(model => model.Owner.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>    
        </dl>
    </div>
<hr />
@Html.Partial("_HouseholdUsers")
<hr />
@Html.Partial("_HouseholdAccounts")
<hr />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
